USE [master]
GO
/****** Object:  Database [HistorialDB]    Script Date: 1/9/2026 13:50:48 ******/
CREATE DATABASE [HistorialDB]
GO

/****** Nota sobre el login ******
  El login usuario_librosB se crea en el script PacientesDB.sql.
  Un login vive a nivel de servidor, no de base de datos, asi que
  no se vuelve a crear aqui: solo se agrega el usuario dentro de esta base
  y se le asignan los permisos de lectura y escritura.

  IMPORTANTE: ejecutar primero PacientesDB.sql y despues este archivo.
***********************************/

USE [HistorialDB]
GO

/****** Object:  User [usuario_librosB]    ******/
CREATE USER [usuario_librosB] FOR LOGIN [usuario_librosB] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_librosB]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_librosB]
GO

/****** Object:  Table [dbo].[tbl_historialclinico]    Script Date: 1/9/2026 13:50:48 ******
  Nota importante: hist_paciente_id NO tiene FOREIGN KEY.
  La tabla tbl_paciente vive en otra base de datos (PacientesDB) y
  SQL Server no permite llaves foraneas entre bases distintas.
  La relacion 1:N se mantiene desde la logica de la aplicacion,
  que es lo esperado en una arquitectura de microservicios.
***********************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_historialclinico](
	[hist_id] [int] IDENTITY(1,1) NOT NULL,
	[hist_paciente_id] [int] NOT NULL,
	[hist_numero] [varchar](20) NOT NULL,
	[hist_diagnostico] [varchar](500) NOT NULL,
	[hist_tratamiento] [varchar](500) NULL,
	[hist_fecha] [datetime] NOT NULL,
	[hist_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_historialclinico] ON 
INSERT [dbo].[tbl_historialclinico] ([hist_id], [hist_paciente_id], [hist_numero], [hist_diagnostico], [hist_tratamiento], [hist_fecha], [hist_estado]) VALUES (1, 1, N'HC-0001', N'Faringitis aguda', N'Amoxicilina 500mg cada 8 horas por 7 dias', CAST(N'2026-08-25T13:38:54.230' AS DateTime), 0)
INSERT [dbo].[tbl_historialclinico] ([hist_id], [hist_paciente_id], [hist_numero], [hist_diagnostico], [hist_tratamiento], [hist_fecha], [hist_estado]) VALUES (2, 1, N'HC-0002', N'Control post tratamiento', NULL, CAST(N'2026-08-25T13:38:54.230' AS DateTime), 0)
INSERT [dbo].[tbl_historialclinico] ([hist_id], [hist_paciente_id], [hist_numero], [hist_diagnostico], [hist_tratamiento], [hist_fecha], [hist_estado]) VALUES (3, 2, N'HC-0003', N'Gastritis', N'Omeprazol 20mg en ayunas', CAST(N'2026-08-25T13:38:54.230' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbl_historialclinico] OFF
GO
SET ANSI_PADDING ON
GO
/**