USE [master]
GO
/****** Object:  Database [PacientesDB]    Script Date: 1/9/2026 13:47:54 ******/
CREATE DATABASE [PacientesDB] 
GO

/****** Login de la instancia ******
  Se reutiliza el login usuario_librosB, creado originalmente para un
  proyecto anterior, para aprovechar la configuracion ya existente y ahorrar tiempo.
  Este es el usuario que emplean los contenedores de Docker para conectarse,
  porque Integrated Security (autenticacion de Windows) no funciona desde un contenedor.

  Si el login ya existe en el servidor, SQL Server devolvera un error
  en esta instruccion y se puede omitir sin problema.
***********************************/
CREATE LOGIN [usuario_librosB]
WITH PASSWORD = '1234',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [PacientesDB]
GO

/****** Object:  User [usuario_librosB]    ******/
CREATE USER [usuario_librosB] FOR LOGIN [usuario_librosB] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_librosB]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_librosB]
GO

/****** Object:  Table [dbo].[tbl_paciente]    Script Date: 1/9/2026 13:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_paciente](
	[pac_id] [int] IDENTITY(1,1) NOT NULL,
	[pac_cedula] [varchar](10) NOT NULL,
	[pac_nombre] [varchar](100) NOT NULL,
	[pac_apellido] [varchar](100) NOT NULL,
	[pac_direccion] [varchar](200) NULL,
	[pac_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_paciente] ON 
INSERT [dbo].[tbl_paciente] ([pac_id], [pac_cedula], [pac_nombre], [pac_apellido], [pac_direccion], [pac_estado]) VALUES (1, N'0601234567', N'Ana', N'Morales', N'Av. Daniel León Borja', 0)
INSERT [dbo].[tbl_paciente] ([pac_id], [pac_cedula], [pac_nombre], [pac_apellido], [pac_direccion], [pac_estado]) VALUES (2, N'0609876543', N'Luis', N'Cevallos', NULL, 1)
INSERT [dbo].[tbl_paciente] ([pac_id], [pac_cedula], [pac_nombre], [pac_apellido], [pac_direccion], [pac_estado]) VALUES (3, N'1727411967', N'Martinn', N'Barahonna', N'Bellavista del Sur', 1)
SET IDENTITY_INSERT [dbo].[tbl_paciente] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_paci__01AB5355086AE00F]    Script Date: 1/9/2026 13:47:55 ******/
/****** La cedula es unica: impide registrar dos veces al mismo paciente ******/
ALTER TABLE [dbo].[tbl_paciente] ADD UNIQUE NONCLUSTERED 
(
	[pac_cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Todo paciente nuevo nace activo (borrado logico) ******/
ALTER TABLE [dbo].[tbl_paciente] ADD  DEFAULT ((1)) FOR [pac_estado]
GO
USE [master]
GO